<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Traverse</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/flatly.css"/>
  <link rel="stylesheet" href="src/styles.css"/>
</head>
<body ng-app="traverse" ng-cloak>
<div class="container-fluid" ng-controller="mainCtrl">
  <div class="row text-center">
    <h1>traverse.</h1>
  </div>
  <div class="row" ng-hide="loading">
    <form role="form" style="padding: 5px;">
      <div class="form-group">
        <select class="form-control" ng-model="travelMode" ng-options="key for (key, value) in travelOptions"></select>
      </div>
      <div class="form-group">
        <input ng-class="{loadinggif: localLoading}" ng-model="pointOfOrigin.address" type="text" class="form-control" placeholder="point of origin">
        <a class="margin-left-link" ng-click="setCurrentLocationAsOrigin(currentLocation)" ng-hide="!currentLocation || hideLink"href="">use current location</a>
      </div>
      <div class="form-group" ng-repeat="destination in destinations track by $index">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="destination  {{ $index + 1}}" ng-model="destination.address">
          <span class="input-group-btn">
            <button class="btn" type="button" ng-click="removeDestination($index)"
                    ng-class="{'disabled btn-default': destinations.length < 2, 'btn-danger': destinations.length > 1}">
              <i class="glyphicon"
                 ng-class="{'glyphicon-remove': destinations.length > 1, 'glyphicon-arrow-left': destinations.length < 2}">
              </i>
            </button>
          </span>
        </div>
      </div>
      <button ng-cloak type="button" class="btn btn-default" ng-class="{disabled: destinations.length == 9}" ng-click="addNewDestination()">
        <span ng-hide="destinations.length > 8">add destination</span>
        <span ng-hide="destinations.length < 9">you've reached the maximum number of destinations</span>
      </button>
      <button type="submit" class="btn btn-success" ng-click="getResults()">optimize route!</button>
    </form>
  </div>
  <div class="row" ng-hide="!loading">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
  <div class="row" ng-hide="loading || !results">
    <ul ng-repeat="leg in route.routes[0].legs">
      <li>{{ leg.start_address }} to {{ leg.end_address }} - {{ leg.distance.text }} - {{ leg.duration.text }}</li>
      <ol>
        <li ng-repeat="step in leg.steps" ng-bind-html="step.instructions"></li>
      </ol>
    </ul>
  </div>
  <div class="row" ng-hide="loading || !results">
    <table class="table">
      <tbody>
        <tr>
          <td></td>
          <td ng-repeat="destination in results.destinationAddresses track by $index">
            {{ destination }}
          </td>
        </tr>
        <tr ng-repeat="origin in results.originAddresses track by $index">
          <td>{{ origin }}</td>
          <td ng-repeat="row in results.rows[$index].elements">
            {{ row.distance.text }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Le Javascript-->
<!-- Libs -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angularjs-geolocation/src/geolocation.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1qqarxfzjfJ2mkQuBlP2azgzmc-Ldo4Y">
</script>
<!-- JS -->
<script src="src/app.js"></script>

</body>
</html>